/* Task 1 */
/* .box1 {
  min-height: 100px;
}

.box2 {
  height: 100px;
} */

/* Task 2 */
/* * {
  box-sizing: border-box;
}
.inner {
  width: 60%;
  padding: 10%;
} */

/* Task 3 */
/* img {
  max-width: 100%;
} */
