/* Task 1 */
/* .hex {
  background-color: #86defa;
}

.rgb {
  background-color: rgb(134, 222, 250);
}

.hsl {
  background-color: hsl(194, 92.1%, 75.3%);
}

.transparency {
  background-color: rgb(134, 222, 250, 0.6);
} */

/* Task 2 */
/* h1 {
  font-size: 50px;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 16px;
}

h1 + p {
  font-size: 120%;
} */

/* Task 3 */
/* .box {
  background-image: url(star.png);
  background-repeat: no-repeat;
  background-position: center 20%;
} */
