/* Task 1 */
/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Task 2 */

/* .myform {
  border: 2px solid #000;
  padding: 5px;
}

input[type="search"],
input[type="submit"] {
  padding: 10px;
  font-size: inherit;
}

input[type="submit"] {
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  border: none;
} */
