html {
  font-family: sans-serif;
  font-size: 10px;
}

/* Your CSS below here */
.box {
  margin: 17rem auto;
  background-color: red;
  width: 20rem;
  padding: 4rem;
  line-height: 2.5rem;

  text-align: center;
  vertical-align: middle;
  font-size: 1.7rem;
  color: white;
  text-shadow: 2px 2px black;
  border-radius: 1rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2) 30%
  );
  box-shadow: 0.5rem 0.5rem 1rem black,
    0.3rem 0.3rem 0.3rem rgba(255, 255, 255, 0.5) inset,
    -0.3rem -0.3rem 0.3rem rgba(0, 0, 0, 0.5) inset;
}
