/* -----------Task 1----------- */
/* .box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
  width: 385px;
} */

/* -------------Task 2 -------- */
/* .box {
  border: 5px black dotted;
  margin: 20px 1em 40px 2em;
  padding: 1em;
} */

/* -----------Task 3---------- */
.box span {
  display: inline-block;
  background-color: pink;
  border: 5px solid black;
  padding: 1em;
}
